<div class="workout-form">

  <form [formGroup]="form">

    <div class="workout-form__name">
      <label>
        <h3>Workout name</h3>
        <input type="text" placeholder="e.g. English Breakfast" formControlName="name">
        <div class="error" *ngIf="required">
          Workout name is required
        </div>
      </label>
      <label>
        <h3>Type</h3>
        <workout-type formControlName="type">

        </workout-type>
      </label>
    </div>

    <!-- buttons -->
    <div class="workout-form__submit">
      <div>
        <!-- Create Workout -->
        <button type="button" class="button" *ngIf="!exists" (click)="createWorkout()">
          Create workout
        </button>
        <!-- Update Workout -->
        <button type="button" class="button" *ngIf="exists" (click)="updateWorkout()">
          Save
        </button>
        <!-- Cancel Workout -->
        <a class="button button--cancel" [routerLink]="['../']">
          Cancel
        </a>
      </div>

      <!-- Delete Workout -->
      <div class="workout-form__delete" *ngIf="exists">
        <div *ngIf="toggled">
          <p>Delete item?</p>
          <button class="confirm" type="button" (click)="removeWorkout()">
            Yes
          </button>
          <button class="cancel" type="button" (click)="toggle()">
            No
          </button>
        </div>

        <button class="button button--delete" type="button" (click)="toggle()">
          Delete
        </button>
      </div>

    </div>

  </form>

</div>
<pre>{{ form.value | json }}</pre>